{% extends "photologue/root.html" %}

{% block rightCol %}

<h1>{{ gallery.title }}
    <small>{{ gallery.date_added|date:"F Y" }}</small></h1>
{% if gallery.description %}<p>{{ gallery.description }}</p>{% endif %}

<ul class="thumbnails">
    {% for photo in gallery.public %}
        <li class="span2">
            <a class="thumbnail gallery" title="{{ photo.caption }}" rel="group" href="{{ photo.get_display_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        </li>
    {% endfor %}
</ul>

<p><a href="{% url pl-gallery-list 1 %}">все галереи</a></p>

{% endblock %}
